.form {
  height: 200px;
  width: 275px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
}

.input {
  font-size: 18px;
  width: 100%;
}

.submit {
  width: 100px;
  font-size: 16px;
}
